body {
  background-color: #1C1D33;
}

h1 {
  color: #FFFAFA;
  font-family: Verdana;
  text-align: center;
  max-width: 628px;
}

p { 
  color: #FFFAFA;
  font-family: Verdana;
  text-align: center;
  max-width: 628px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
