body {
  background-color: #1C1D33;
}

h1 {
  color: #FFFAFA;
  font-family: Verdana;
  align="center";
  width=65%;
}

p { 
  color: #FFFAFA;
  font-family: Verdana;
  align="center";
  width=65%;
}
